{{ $baseurl := .Site.BaseURL }}
<div class="row">
{{range $index, $page := .Paginator.Pages}}
  <div class="col m6 s12 card-style-p">
    <div class="card-style">
      <div class="header">
        <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
      </div>
      <div class="body">
        {{if .Params.categories }}
        <p>
          {{ range $index, $category := .Params.categories }}
            <a href="{{$baseurl}}/categories/{{ $category | urlize }}/">{{ $category }}</a>
          {{ end }}
        </p>
        {{end}} 
        <p>{{ substr .Summary 0 100 }} ...</p>
      </div>
      <div class="footer">
        <div class="created-at">
          {{ .Date.Format "2006/01/02" }}
        </div>
        <div class="tags">
          {{if .Params.tags }}
            {{ range $index, $tag := .Params.tags }}
              <a href="{{$baseurl}}/tags/{{ $tag | urlize }}/">#{{ $tag }}</a>
            {{ end }}
          {{end}} 
        </div>
      </div>
    </div>
  </div>
{{ end }}
</div>
