{{ $baseurl := .Site.BaseURL }}
<div class="">
{{range $index, $page := .Paginator.Pages}}
  <div class="card mb-4 border-light">
    <div class="card-body">
      <div class="header">
        <a href="{{ .Permalink }}">
          <h4>{{ .Title }}</h4>
        </a>
      </div>
      <div class="body">
        <p>{{ substr .Summary 0 100 }} ...</p>
      </div>
      <div class="footer">
        <div class="created-at">
          {{ .PublishDate.Format "2006/01/02" }}
        </div>

        {{ partial "tag.html" . }}
      </div>
    </div>
  </div>

{{ end }}
</div>
