// media query
$pc: 992px;
$tablet: 600px;
$sp: 480px;

@mixin pc {
  @media screen and (max-width: ($pc)) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: ($tablet)) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

/*
 * original
 */
html {
  font-size: 20px;
  @include pc {
    font-size: 20px;
  }

  @include tablet {
    font-size: 18px;
  }

  @include sp {
    font-size: 15px;
  }
}

body {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  //background-color: #F4F5F7;
}

// header
.header-section {
  a.nav-menu {
    position: fixed;
  }

  h1.header {
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding: 20px 0;
    font-size: 2.5rem;
    @include sp {
      padding: 10px 0;
      font-size: 2rem;
    }
  }
}

// top and list
.top, .list {
  h4 {
    font-size: 1.7rem;
    margin: 0;

    @include tablet {
      font-size: 1.6rem;
    }
    @include sp {
      font-size: 1.5rem;
    }
  }

  .card-style-p {
    margin-bottom: 1.3rem;
  }

  .card-style {
    border: solid 1px #eee;
    border-radius: 6px;
    padding: 1rem;
    min-height: 350px;

    @include sp {
      min-height: initial;
    }

    h4 {
      a {
        color: #444;
      }
    }

    .body {
      color: #6f7372;
      font-size: 0.8rem;
      border-bottom: solid 1px #eee;
      margin-bottom: 1rem;
    }

    .footer {
      .created-at {
        color: #6f7372;
        font-size: 0.9rem;
        padding: 0.5rem 0;
      }
    }
  }
}

// article
.article {
  word-wrap: break-word;
  color: #333;

  h1 {
    font-size: 2rem;
    @include pc {
      font-size: 2rem;
    }
    @include tablet {
      font-size: 1.7rem;
    }
    @include sp {
      font-size: 1.4rem;
    }
    border-bottom: 1px solid #D7DDE3;
  }

  h2 {
    font-size: 1.7rem;
    @include pc {
      font-size: 1.7rem;
    }
    @include tablet {
      font-size: 1.4rem;
    }
    @include sp {
      font-size: 1.2rem;
    }
    border-bottom: 1px solid #D7DDE3;
  }

  pre {
    padding: 1.1rem;
    font-size: 0.8em;
    border-radius: 3px;
    line-height: 1.9;
    background-color: #292a33!important;
    color: #f8f8f2;

    code {
      word-wrap: initial;
      font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
      span {
        span[class="hljs-shebang"] {
          color: #f8f8f2;
        }
      }
    }
  }

  ul, p {
    code {
     padding: .2em .4em;
     font-size: 85%;
     background-color: #eee;
     color: #444;
     border-radius: 3px;
     font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
   }
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    padding-left: 2rem;
    list-style-type: initial;

    li {
      list-style-type: initial;
    }
  }

  img {
    max-width: 100%;
  }

  .card-panel {
    border-radius: 6px;
  }

  blockquote {
    color: #6e7781;
  }

  .message {
    background: #fff6e4;
    padding: 1.5rem 1rem 1.5rem 2rem;
    margin: 1.3rem 0;
    color: #666;
    border-radius: 3px;
    position: relative;
    font-size: .9rem;

    &:before {
      content: "※";
      color: #ffb84c;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-52%);
    }

    &.alert {
      background: #ffeff2;

      &:before {
        color: #ff7670;
      }
    }

    &.success {
      background: #ddffdd;

      &:before {
        color: #3c763d;
      }
    }
  }
}

// footer
footer {
  border-top: solid 1px #4db6ac;

  .copyright {
    float: right;
    padding: 10px 0 10px 10px;
  }
}

.card-panel {
  overflow-wrap: break-word;
　word-wrap: break-word;
}

figure {
  img {
    max-width: 100%;
  }
}











